<ion-view view-title="Details">
  <ion-content>

  	<div ng-if="faqId==1">
    	<div class="faqheading">When does the Fantasy Cricket Game start?</div>
    	<div class="faqdetailsdiv">
    		The Fantasy Cricket game starts as soon as the deadline for the round ends. The deadline (denoted by the countdown ticker) is usually 1 hour before the start of the first match in the round.
    	</div>
    </div>

	<div ng-if="faqId==2">
    	<div class="faqheading">Do you make changes to the pricing of players on Dream 11?</div>
    	<div class="faqdetailsdiv">
    		Yes, we review our player pricing from time to time. To be fair to all our users, we won’t make these changes while a match’s contests are open and getting filled.
    	</div>
    </div>


    <div ng-if="faqId==3">
    	<div class="faqheading">What if one of my chosen cricketers do not play in the match?</div>
    	<div class="faqdetailsdiv">
    		Need to choose your team carefully! The player who does not feature in the starting 11 in the match does not get any points.
    	</div>
    </div>

    <div ng-if="faqId==4">
    	<div class="faqheading">How does this application Helpful?</div>
    	<div class="faqdetailsdiv">
    		Thanks for Downloading Our App.
			We Have Lab of research and analysis for cricket and we will be working on it every day 24/7.
			We have been playing Dream 11 Since it was launched first. And over the years we have gathered some really useful tips and tricks
			So we have decided to share this knowledge using a stable medium. Hence we have decided to make this app
			In this app we provide you with Hacks and Trick, which you can use to increase your chances of winning Leagues in Dream 11
			Along with Hacks we also work on providing Daily Predictions of teams For IPL matches and International and English County matches.
			We provide all the information related to match in short and easy language at one place, to make your work easy
			You can use those information to make your Dream Team or you can Copy our Predicted team and make some changes as you like.
    	</div>
    </div>



    <div ng-if="faqId==5">
    	<div class="faqheading">Is it mandatory to change my team for future matches?</div>
    	<div class="faqdetailsdiv">
    		Yes, you are required to create a new team for every match on Dream 11.
    	</div>
    </div>


    <div ng-if="faqId==6">
    	<div class="faqheading">What if one of my chosen cricketers do not play in the match?</div>
    	<div class="faqdetailsdiv">
    		Need to choose your team carefully! The player who does not feature in the starting 11 in the match does not get any points.
    	</div>
    </div>


    <div ng-if="faqId==7">
    	<div class="faqheading">How many players are needed to create a team?</div>
    	<div class="faqdetailsdiv">
    		You need to select 11 players to create your team with a minimum of 3 bowlers, 3 batsmen, 1 all-rounder and 1 wicket-keeper, while the other 3 players can be from any category.
    	</div>
    </div>


    <div ng-if="faqId==8">
    	<div class="faqheading">Can I choose players only from one side?</div>
    	<div class="faqdetailsdiv">
    		A maximum of 7 players can be selected from each side.
    	</div>
    </div>


    <div ng-if="faqId==9">
    	<div class="faqheading">I’ve spent my entire budget before selecting all 11 players. How do I complete my team?</div>
    	<div class="faqdetailsdiv">
    		That’s the challenge! You need to create your team within the budget of 100 credits given to you.
    	</div>
    </div>


    <div ng-if="faqId==10">
    	<div class="faqheading">When I make changes in the team, how long does it take for the changes to reflect?</div>
    	<div class="faqdetailsdiv">
    		The changes are instant! You can make unlimited changes any time before the deadline hits for a particular round.
    	</div>
    </div>


    <div ng-if="faqId==11">
    	<div class="faqheading">Can I edit my team during the match?</div>
    	<div class="faqdetailsdiv">
    		Come on, where’s the skill in that? You can create or edit your team only before the deadline, which is usually 1 hour prior to the start of the match. Keep an eye on the ticker!
    	</div>
    </div>


    <div ng-if="faqId==12">
    	<div class="faqheading">When do you update the squads for matches on Dream 11?</div>
    	<div class="faqdetailsdiv">
    		The squads for matches featured on Dream11 can keep getting updated till the deadline for a match as per the alerts received from our service providers. Keep checking for such updates till the deadline for the respective matches.
    	</div>
    </div>


    <div ng-if="faqId==13">
    	<div class="faqheading">How can I see my team’s rank?</div>
    	<div class="faqdetailsdiv">
    		You can click on the match that you have created your team for, click on the ‘Joined’ tab just above the contest options and then click on the 'Show' button to see the updated points and ranks for yourself and your opponents in that contest.
    	</div>
    </div>


    <div ng-if="faqId==14">
    	<div class="faqheading">How can I change my team name?</div>
    	<div class="faqdetailsdiv">
    		Unfortunately, you can’t change your team name once it is registered. Choose your team name wisely, it’s permanent.
    	</div>
    </div>


    <div ng-if="faqId==15">
    	<div class="faqheading">How do I create multiple teams for the same match?</div>
    	<div class="faqdetailsdiv">
    		Multiple team option is enabled after creating your first team. You can create multiple teams by clicking 'Create Team 2’ above your team on the contests page.
    	</div>
    </div>

    <div ng-if="faqId==16">
    	<div class="faqheading">How many teams can I create for a single match?</div>
    	<div class="faqdetailsdiv">
    		You can create up to 6 separate teams for a single match.
    	</div>
    </div>


    <div ng-if="faqId==17">
    	<div class="faqheading">Can I join the same contest using multiple teams?</div>
    	<div class="faqdetailsdiv">
    		You can join only one contest with one team. However, contests which display ‘Multi Entry’ on them allow you to join the same with multiple teams.
    	</div>
    </div>
    

    <div ng-if="faqId==18">
    	<div class="faqheading">Can I edit my Teams?</div>
    	<div class="faqdetailsdiv">
    		Yes! You can edit your team(s) before the round deadline
    	</div>
    </div>  


    <div ng-if="faqId==19">
    	<div class="faqheading">Can I choose which of my teams compete in a contest (Team 1 or Team 2) after joining?</div>
    	<div class="faqdetailsdiv">
    		Yes! You can choose your team in a contest (Choose Team 1 or Team 2 to compete) from ‘Joined Contests’ tab until the deadline
    	</div>
    </div>      


    <div ng-if="faqId==20">
    	<div class="faqheading">What is the use of a Captain in my team?</div>
    	<div class="faqdetailsdiv">
    		use of captain is.
    	</div>
    </div>       

  </ion-content>
</ion-view>
